<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script src="./js/script.js" defer></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>MW Shoes</title>
  </head>
  <body id="wrapper">
    <section class="cartOverlay" :style="{display:cartDisplay}">
      <div class="cartList">
        <button class="close-window cart-close" @click="cartDisplay = 'none'">
          X
        </button>
        <h2 v-if="cart.length === 0">Cart is Empty</h2>
        <div class="cart" v-else>
          <h2>Cart <span>List</span></h2>
          <div class="item" v-for="keranjang in cart">
            <img :src="keranjang.img" :alt="keranjang.name" />
            <div class="itemInfo">
              <h2>{{keranjang.name}}</h2>
              <p>Size: {{keranjang.size}}</p>
              <p>Jumlah: {{keranjang.qty}}</p>
              <p>Packaging: {{keranjang.packing}}</p>
              <p v-if="keranjang.req.length > 0">Note: {{keranjang.req}}</p>
              <p>Rp. {{convertIDR(keranjang.price)}},-</p>
            </div>
            <input
              type="button"
              value="hapus"
              v-on:click="removeCartItem(keranjang.id, keranjang.qty, keranjang.price)"
            />
          </div>
          <h2>Total: Rp. {{convertIDR(total)}},-</h2>
          <input type="button" value="Buy" v-on:click="buyCart" />
        </div>
      </div>
    </section>
    <section class="overlay" :style="{display:detailDisplay}">
      <div class="modal">
        <button class="close-window" @click="detailDisplay = 'none'">X</button>
        <h2>Detail Produk</h2>
        <div class="container-detail">
          <img :src="details.img" :alt="details.name" />
          <div class="">
            <div class="text-detail">
              <h3 class="orange title-detail">{{details.name}}</h3>
              <p class="price">Rp. {{convertIDR(details.price)}}</p>
              <h3 class="size-text">Size Chart</h3>
              <select class="size" id="size" v-on:change="changeSize($event)">
                <option value="Pilih">Pilih</option>
                <option
                  v-for="ukuran in sizeList"
                  :value="ukuran"
                  :selected="ukuran === size"
                >
                  {{ukuran}}
                </option>
              </select>

              <h3>Quantity</h3>
              <div class="container">
                <input type="button" value="-" v-on:click="decQty" />
                <input type="number" :value="qty" />
                <input type="button" value="+" v-on:click="incQty" />
              </div>
              <p>If you can not find your sizes, please kindly input here!</p>
              <label>Special Request</label>
              <input
                :defaultValue="req"
                type="text"
                placeholder="e.g ...."
                class="size"
                v-on:change="addReq($event)"
              />

              <h3>Packaging</h3>
              <input
                type="radio"
                name="pack"
                v-on:click="changePacking('Normal')"
                checked
              />
              <label>Normal</label>
              <input
                type="radio"
                name="pack"
                v-on:click="changePacking('Bubble Wrap')"
              />
              <label>Bubble Wrap</label>
              <input
                type="radio"
                name="pack"
                v-on:click="changePacking('Kotak Kayu')"
              />
              <label>Kotak Kayu</label>
            </div>

            <hr />

            <div class="container-button">
              <input
                type="button"
                value="Add to Cart"
                class="buy-btn"
                v-on:click="addCart"
              />
              <input
                type="button"
                value="Buy Now!"
                class="buy-btn"
                v-on:click="buyDetail"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <header>
      <nav>
        <h1>MW <span>Shoes</span></h1>
        <div class="nav-right">
          <a href="#">Home</a>
          <div class="dropdown">
            <a class="dropbtn">Collection</a>
            <div class="dropdown-content">
              <a href="detail.html">Sneaker</a>
              <a href="detail.html">Slip On</a>
              <a href="detail.html">Boots</a>
              <a href="detail.html">Pantofel</a>
            </div>
          </div>
          <div class="dropdown">
            <a class="dropbtn">Brands</a>
            <div class="dropdown-content">
              <a href="detail.html">Adidas</a>
              <a href="detail.html">Nike</a>
              <a href="detail.html">Convers</a>
            </div>
          </div>
          <a href="#">Sale</a>
          <button @click="cartDisplay = 'flex'" class="btn-login">
            Cart ({{totalQty}})
          </button>
        </div>
      </nav>
    </header>
    <main>
      <div class="container-card">
        <div class="card" v-for="shoe in shoes">
          <div class="img-card">
            <img :src="shoe.img" alt="" />
            <button @click="changeDetails(shoe.id)">Details</button>
          </div>
          <h3>{{shoe.name}}</h3>
          <h3>{{shoe.priceThrough}}</h3>
          <h3>Rp. {{convertIDR(shoe.price)}},-</h3>
        </div>
      </div>
    </main>
    <footer>
      <div class="flex-footer">
        <ul class="section-footer">
          <li>Hatarika</li>
          <li>Hatarika</li>
          <li>Ji. Sudirman No.xx</li>
          <li>hatarika@mail.com</li>
          <li>(021) 2552-xxxx</li>
        </ul>

        <ul class="section-footer">
          <li>atarika Collectio</li>
          <li><a href="detail.html">Sneaker</a></li>
          <li><a href="detail.html">Slip On</a></li>
          <li><a href="detail.html">Boots</a></li>
          <li><a href="detail.html">Pantofel</a></li>
        </ul>

        <ul class="section-footer sosmed">
          <li>Follow us on</li>
          <li>
            <a href="#"><img src="images/twitter.png" alt="twitter" /></a>
          </li>
          <li>
            <a href="#"><img src="images/facebook.png" alt="facebook" /></a>
          </li>
          <li>
            <a href="#"><img src="images/instagram.png" alt="instagram" /></a>
          </li>
          <li>
            <a href="#"><img src="images/pinterest.png" alt="pinterest" /></a>
          </li>
        </ul>
      </div>
      <p>Copyright © 2021 Hatarika. All Rights Reserved.</p>
    </footer>
  </body>
</html>
